body { 
  background: #fff url(/img/wood-bg.jpg);
  font: normal 13px arial,sans-serif;
  margin: 5px;
}

h2 {
  font:bold 3em Arial, sans-serif;
  color:rgba(0,0,0,0.75);
  text-shadow:1px 1px 2px rgba(255,255,255,0.75);
  text-align:center;
  margin-bottom:0;
}

h3 {
  text-align:center;
  color:rgba(0,0,0,0.75);
}

p  {
  font:normal 1.6em Arial, sans-serif;
  text-align:center;
}

button {
  cursor: pointer;
}

button:hover {
  background: #ccc;
}

button[disabled] {
  color: #ccc;
}

#header { 
  background: rgba(0,0,0,.75); 
  border: solid rgba(0,0,0,.75); 
  border-width: 1px 1px 0; 
  border-radius: 3px; 
  box-shadow: 0 1px 1px rgba(255,255,255,.5);
  white-space: nowrap;
}
#header h1 {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
  color: #999;
  padding-left: 40px;
  margin: 0 32px;
  height: 60px;
  line-height: 60px;
  background: url(/img/icon32.png) center left no-repeat;
}

#header h1 span, #header h1 span  a {
  font-size: 10px;
  color: white;
}
#footer { 
  padding: 0 0 36px; 
}

pre { 
  background: #f5f5f5;
  margin: 0 0 18px;
  padding: 13px 18px 14px;
  border-radius: 3px;
  text-shadow: 0 1px 1px #fff;
  font-size: 11px;
  line-height: 16px;
}

#gallery {
  -webkit-user-select: none;
  padding: 20px;
  margin: 0;
  position: relative;
  left: 0px;
  overflow-x: hidden;
}
#gallery li { 
  display: inline-block;
  position: relative;
}
#gallery div {
  background: #fff; 
  display: inline; 
  float: left; 
  margin: 0 0 27px 30px; 
  width: auto; 
  padding: 10px 10px 15px; 
  text-align: center; 
  font-family: "Marker Felt", sans-serif; 
  text-decoration: none; 
  color: #333; 
  font-size: 18px; 
  box-shadow: 0 3px 6px rgba(0,0,0,.25); 
  -webkit-transform: rotate(-2deg); 
  -webkit-transition: -webkit-transform .15s linear; 
}
#gallery img { 
  display: block; 
  width: 190px; 
  margin-bottom: 12px;
  cursor: pointer;
}
#gallery div:after { 
  content: attr(title);
}

#gallery li:nth-child(even) div { 
  -webkit-transform: rotate(2deg);
}
#gallery li:nth-child(3n) div { 
  -webkit-transform: none; 
  position: relative; 
  top: -5px;
}
#gallery li:nth-child(5n) div { 
  -webkit-transform: rotate(5deg);
  position: relative; 
  right: 5px;
}
#gallery li:nth-child(8n) div { 
  position: relative; 
  right: 5px; top: 8px;
}
#gallery li:nth-child(11n) div { 
  position: relative; 
  left: -5px; top: 3px;
}

#gallery li.messy div { 
  margin-top: -375px; 
  margin-left: 160px; 
  -webkit-transform: rotate(-5deg);
}

#gallery li div:hover { 
  -webkit-transform: scale(1.25); 
  box-shadow: 0 3px 6px rgba(0,0,0,.5); 
  position: relative;
  z-index: 5; 
}

#gallery  li div .controls {
  visibility: hidden;
  font-size: 10px;
  display: block;
  cursor: pointer;
}

#gallery  li div:hover .controls {
  visibility: visible;
}

/* no captures dialog */
#no-captures {
  margin:0 auto;
  width: 800px;
  display: none;
}

/* preview dialog */
#preview-dialog  {
  display: none;
  position: relative;
  left: 0;
  text-align: center;
}


#preview-image {
  display: block;
  margin: 10px auto;
  background-color: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

#preview-controls {
  position: absolute;
  left: 650px;
  margin-top: -55px;
}

/* -- download dialog -- */

#download-dialog {
  display: none;
  opacity: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 100; 
  -webkit-transition: opacity 0.5s linear;
}

#download-dialog  h2 {
  font-size: 30px;
  margin-top: 30px;
}

#download-container {
	color: white;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	overflow: visible;
	visibility: visible;
	display: block
}

#download-content {
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
	font-family: Verdana, Geneva, Arial, sans-serif;
	background-color: white;
	margin-left: -250px;
	position: absolute;
	top: -90px;
	left: 50%;
	width: 500px;
	height: 180px;
  opacity: 0.9;
  padding: 10px;
}

#download-thumbnail {
  float: left;
}

#download-thumbnail img {
  display: block;
  margin: 0 auto;
  width: 250px;
  max-height: 180px;
}

#download-container a {
  display: inline-block;
  background-color: green;
  width: 150px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
}

#download-container a:hover {
  background-color: #333;
}

.select {
	-webkit-transition: -webkit-transform 0.50s ease-in;
  -webkit-transform:scale(6);
  position:relative;
  z-index:20;
}
/* -- edit dialog -- */
#edit {
	height:100%;
	width:100%;
	position:absolute;
  top:0;
  left:0;
  z-index:10; 
	display:none; 
	overflow:hidden;
}
#dialog-controls {
	position:absolute;
	top:20px;
	right:40px;
}
#edit-head {
	background: white;
	width: 100%;
	height: 64px;
	position: absolute;
	top: 0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
#edit-head h1 {
	background:url(../img/effects.png) left center no-repeat;
	color:rgba(0,0,0,0.75);
	padding:0 48px;
	margin-left:24px;
	font:bold 2em Arial, Helvetica, sans-serif;
	color:rgba(0,0,0,0.8);
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
#edit-body { 
  position:absolute;
  top:65px;
  width:100%;
}

#canvas-container { 
  position:absolute;
  top:0;
  right:0;
  background:#00CCCC;
}

#fx-container {
	width:240px;
	overflow-x:hidden;
	overflow-y:scroll;
}
#fx-container h2 { 
	display: block;
	height: 36px;
	background: #d5b267;
	text-transform: uppercase;
	text-align: center;
	font: bold 1.4em/2 Arial, sans-serif;
	color: #7e5b10;
	text-shadow: 1px 1px 2px rgba(255, 255, 255,0.5);
	margin: 0;
	border-bottom: 2px solid #7e5b10;
}
.fx-panel {
	min-height:60px;
	background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #eeeeee 100%);
	border:1px solid rgba(0,0,0,0.2);
	padding:10px;
}
.fx-panel:hover {

}
span.close {visibility:hidden; width:16px; height:16px; background:url(../img/chosen-sprite.png); background-position:-32px 2px; float:right; cursor:pointer;}
.fx-panel:hover span.close {visibility:visible;}

.add-effect-btn {
	text-align: center;
	display: block;
	margin:5px 0;
	padding: 10px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background: #EBEBEB -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
	cursor:pointer;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: url(/img/trash.png) center center no-repeat;
  background-color: rgba(0,0,0, 0.5);
}

.download {
  position: absolute;
  top: 32px;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: url(/img/download.png) center center no-repeat;
  background-color: rgba(0,0,0, 0.5);
}

.effects {
  position: absolute;
  top: 64px;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: url(/img/effects.png) center center no-repeat;
  background-color: rgba(0,0,0, 0.5);
}
#canvasPreview {
	position:absolute;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar {
  background-color: #eee;
  
  cursor: pointer;
  width: 10px;
  height: 16px;
}
::-webkit-scrollbar-corner  {
  background-color: transparent;
}