body { 
  background: #fff url(/img/wood-bg.jpg);
  font: normal 13px arial,sans-serif;
}

#header { 
  background: rgba(0,0,0,.75); 
  border: solid rgba(0,0,0,.75); 
  border-width: 1px 1px 0; 
  -webkit-border-radius: 3px; 
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,.5);
  white-space: nowrap;
}
#header h1 {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
  color: #999;
  margin: 0px 32px;
  padding: 10px 48px;
  background: url(/img/icon32.png) center left no-repeat;
}

#header h1 span, #header h1 span  a {
  font-size: 10px;
  color: white;
}
#footer { 
  padding: 0 0 36px; 
}

pre { 
  background: #f5f5f5; 
  margin: 0 0 18px; 
  padding: 13px 18px 14px; 
  -webkit-border-radius: 3px; 
  text-shadow: 0 1px 1px #fff; 
  font-size: 11px; 
  line-height: 16px; 
}

ul.gallery {
  -webkit-user-select: none;
  margin: 0 0 18px -30px;
}
ul.gallery li { 
  display: inline-block;
  position: relative;
}
ul.gallery div {
  background: #fff; 
  display: inline; 
  float: left; 
  margin: 0 0 27px 30px; 
  width: auto; 
  padding: 10px 10px 15px; 
  text-align: center; 
  font-family: "Marker Felt", sans-serif; 
  text-decoration: none; 
  color: #333; 
  font-size: 18px; 
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
  -webkit-transform: rotate(-2deg); 
  -webkit-transition: -webkit-transform .15s linear; 
}
ul.gallery img { 
  display: block; 
  width: 190px; 
  margin-bottom: 12px;
}
ul.gallery div:after { 
  content: attr(title);
}

ul.gallery li:nth-child(even) div { 
  -webkit-transform: rotate(2deg);
}
ul.gallery li:nth-child(3n) div { 
  -webkit-transform: none; 
  position: relative; 
  top: -5px;
}
ul.gallery li:nth-child(5n) div { 
  -webkit-transform: rotate(5deg);
  position: relative; 
  right: 5px;
}
ul.gallery li:nth-child(8n) div { 
  position: relative; 
  right: 5px; top: 8px;
}
ul.gallery li:nth-child(11n) div { 
  position: relative; 
  left: -5px; top: 3px;
}

ul.gallery li.messy div { 
  margin-top: -375px; 
  margin-left: 160px; 
  -webkit-transform: rotate(-5deg);
}

ul.gallery li div:hover { 
  -webkit-transform: scale(1.25); 
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
  position: relative; z-index: 5; 
}

ul.gallery  li div .controls {
  visibility: hidden;
  font-size: 10px;
  display: block;
  cursor: pointer;
}


ul.gallery  li div:hover .controls {
  visibility: visible;
}

.no-captures { 
  position: relative;
  top:64px;
  width:800px;
  margin:0 auto;
}
.no-captures h1 {
  font:bold 3em Arial, sans-serif;
  color:rgba(0,0,0,0.75);
  text-shadow:1px 1px 2px rgba(255,255,255,0.75);
  text-align:center;
  margin-bottom:0;
}
.no-captures p  {
  font:normal 1.6em Arial, sans-serif;
  text-align:center;
}

.select {
	-webkit-transition: -webkit-transform 0.75s ease-in; -webkit-transform:scale(6); position:relative; z-index:20;
}
#edit {
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.8);
	position:absolute; top:0; left:0; z-index:10; 
	display:none; 
}
#edit-head {
	background: white;
	width: 100%;
	height: 64px;
	position: absolute;
	top: 0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
#edit-head h1 {
	background:url(../img/effects.png) left center no-repeat;
	color:rgba(0,0,0,0.75);
	padding:0 48px;
	margin-left:24px;
	font:bold 2em Arial, Helvetica, sans-serif;
	color:rgba(0,0,0,0.8);
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
#close-tab {
	position:absolute;
	top:15px;
	right:30px;
	width:32px;
	height:32px;
	background:url(../img/close32.png) center center no-repeat;
	z-index:20;
	display:none;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: url(/img/trash.png) center center no-repeat;
  background-color: rgba(0,0,0, 0.5);
}

.download {
  position: absolute;
  top: 32px;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: url(/img/download.png) center center no-repeat;
  background-color: rgba(0,0,0, 0.5);
}

.effects {
  position: absolute;
  top: 64px;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: url(/img/effects.png) center center no-repeat;
  background-color: rgba(0,0,0, 0.5);
}