.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}

.white_content {
			display: none;
			position: absolute;
			top: 5%;
			left: 5%;
			width: 75%;
			height: 75%;
			padding: 16px;
			border: 16px solid gray;
			background-color: white;
			z-index:1002;
			overflow: auto;
		}
    
.ui-slider {
    position: relative;
    width: 300px;
    height: 3px;
    background: #3F3F3F;
    margin-top: 8px;
}

.ui-slider-handle {
    cursor: default;
    position: absolute;
    width: 12px;
    height: 12px;
    background: #DFDFDF;
    background: -moz-linear-gradient(#EFEFEF, #BFBFBF);
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#BFBFBF));
    border: 1px solid #3F3F3F;
    margin: -5px 0 0 -7px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.ui-state-active { background: white; }
.ui-state-focus { outline: none; }


.nub {
    position: absolute;
    width: 6px;
    height: 6px;
    margin: -5px;
    background: #3F9FFF;
    background: -moz-linear-gradient(#7FBFFF, #007FFF);
    background: -webkit-gradient(linear, left top, left bottom, from(#7FBFFF), to(#007FFF));
    border: 2px solid white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    cursor: move;
}

#nubs { position: relative; left: 0; top: 0; width: 100%; height: 100%; z-index:10; }