body, html {
  font: normal 13px arial,sans-serif;
  margin-top: 0;
}

.hangout-item {
  margin: 5px;
}

.hangout-item-sidebar {
  float: left;
  width: 30px;
}
.hangout-item-content {
  margin-left: 40px;
  border-left: 5px solid #eee;
  padding-left: 5px;
  min-height: 20px;
}
a:visited, a:link {
  color: blue;
  cursor: pointer;
}

a.button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  line-height: 20px;
  border: 1px solid #3079ED;
  border-radius:3px;
  color: white;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 0 5px;
  height: 20px;
  outline: 0;
  -webkit-box-shadow: 0px 0px 6px #dddcff;
  box-shadow: 0px 0px 6px #dddcff;
}

.full a.button {
  border: 1px solid #FA4B39;
  background-image: -webkit-linear-gradient(top, #DD4B39, #FA4B39);
}

h1 {
  font-size: 12px;
  color: #444;
  font-weight: bold;
}