
body, html {
  font: normal 13px arial,sans-serif;
  margin: 0;
  overflow-x: hidden;
}
#hangout-bar {
  background-color: #2D2D2D;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100%;
  height: 30px;
  line-height: 30px;
  -webkit-user-select: none;
}

#hangout-bar-left {
  float: left;
  margin-left: 10px;
}
#hangout-bar-right {
  float: right;
  margin-right: 10px;
}
#hangout-bar span {
  font-family: 'Droid Sans', sans-serif;
  color: #eee;
  display: inline-block;
  padding: 0 5px;
}
#popup-container {
  width: 600px;
  margin-top: 30px;
  top: 0;
  left: 0;
}
#version {
  font-size: 0.8em;
}

.menu-item {
  display: inline-block;
  height: 27px;
  border-top: 3px solid transparent;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #4a4a4a;
}
.menu-item.selected {
  border-color: #dd4b39;
}

#menu-options {
  background-image: url(/img/options.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 14px;
}

.popup-page {
  width: 100%;
  position: absolute;
  display:none;
  overflow-x: hidden;
}

.popup-page h2 {
  color: #4d90fe;
  font-size: 18px;
}

#hangouts-container {
  left: 0;
}

#maps-container > h2 {
  padding-left: 10px;
  margin:12px 0;
}

#options-container {
  padding: 0 10px;
}

#map-canvas {
  width: 600px;
  height: 250px;
}

.hangout-item {
  background-color: #eee;
  border-radius: 5px;
  height: 65px;
  margin: 5px 0 5px 5px;
  clear: both;
  position: relative;
}
.hangout-item:hover {
  background-color: #ccc;
}
.hangout-overlay {
  position: absolute;
  right: 0px;
  width: 70px;
  height: 65px;
  text-align: right;
  padding-right: 0px;
  background-color: #ddd;
  border-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 0.75em;
  -webkit-transition: width 0.3s linear;
  cursor: pointer;
  overflow: hidden;
  z-index: 100;
}
.hangout-overlay:hover {
  width: 400px;
  box-shadow: -5px 0px 10px rgba(0,0,0,0.2);
}
.full .hangout-overlay {
  background-color: #ca333a;
}
.hangout-extra {
  width: 450px;
  height: 65px;
  line-height: 65px;
}
.hangout-extra span {
  margin-right: 10px;
}
.hangout-show {
  float: right;
  width: 70px;
  text-align: center;
  display: block;
  height: 65px;
  font-weight: bold;
  color: #777;
}
.full .hangout-show  {
  color: #eee;
}
.hangout-show-count {
  display: block;
  font-size: 30px;
  line-height: 35px;
}
.full  .hangout-show-count {
  font-size: 20px;
}
.hangout-show-visibility {
  display: block;
  line-height: 10px;
}
.hangout-participants {
  float: left;
  margin-top: 7px;
  overflow: hidden;
  width: 80%;
  white-space: nowrap;
}
.hangout-participants a {
  display: block;
}
.hangout-participants img {
  border: 2px solid transparent;
  margin: 0px;
  border-radius: 2px;
}
.hangout-participants img:hover {
  box-shadow: 0 0 15px white; 
  background-color: white;
}
.hangout-participants ul {
  margin: 0;
  padding: 0;
}
.hangout-participants li {
  display: inline-block;
}
.hangout-button {
  float: left;
  margin-top: 10px;
  line-height: 40px;
}
.hangout-name {
  position: absolute;
  left: 160px;
  color: #aaa;
}

.hangout-item:hover .hangout-name {
  color: #444;
}

.button {
  display: inline-block;
  cursor: pointer;
  margin: 0px 10px;
  border: 1px solid #3079ED;
  border-radius:3px;
  color: white;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  -webkit-box-shadow: 0px 0px 6px #dddcff;//bbbbff;
  box-shadow: 0px 0px 6px #dddcff;
  text-decoration: none;
}

.minified-button {
  margin: 0;
  min-width: 10px;
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #2d90fe, #2787ed);
}
.in_my_circle {
  position: relative;
  z-index: 5;
}
.in_my_circle span {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  bottom: 4px;
  left: 2px;
  background-color: #ca333a;
  font-size: 8px;
  color: #eee;
  text-align: center;
  font-weight: bold;
  opacity: 0.75;
  cursor: pointer;
  border-top-right-radius: 5px;
}
.in_my_circle img {
  border: 2px solid transparent;
  box-shadow: 0 0 15px f8cc38; 
}
.in_my_circle img:hover {
  border: 2px solid transparent;
}
.in_my_circle:hover span {
  opacity: 0.8;
  background-color: #fff;
  color: #444;
}

.blocked_circle span {
  background-color: #000;
}

.personMarker {
  border-radius: 5px;
}
.hangout-popup {
  position: relative;
  overflow-x: hidden;
  height: 85px;
}
.hangout-popup-name {
  position: absolute;
  left: 50px;
  font-size: 0.9em;
}
.hangout-popup-header {
  height: 75px;
  float: left;
}

.hangout-popup-header .hangout-popup-owner {
  display: block;
}

.hangout-popup-header .hangout-button {
  display: block;
}

.hangout-popup .hangout-participants {
  white-space: normal;
  position: absolute;
  left: 50px;
  top: 25px;
  font-size: 0.9em;
  height: 50px;
}

#popup-subtitle {
  font-size: 0.6em;
  color: #444;
}

#popup-open {
  background-image: url(/img/open.png);
  background-position: 20px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
  
#popup-open:hover {
  background-position: 0px 0px;
}

#hangout-detail-container ul {
  width: 570px;
  margin: 0 5px;
  padding:0 ;
}

#hangout-detail-container ul  li {
  float: left;
  width: 285px;
  list-style-type: none;
  height: 64px;
  margin-bottom: 5px;
  overflow: hidden;
}

.detail-card-header {
  height: 50px;
  line-height: 50px;
  margin: 0 5px;
  font-size: 1.2em;
}

.participant-card-image {
  float: left;
}

.participant-card-detail {
  margin-left: 70px;
  font-size: 0.9em;
}

/*--tooltip--*/
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font:normal 0.8em Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: 0 0 2px #000;
	background-color: rgba(0,0,0,0.9);
	padding: 8px;
	border-radius: 4px;
	max-width: 200px;
}
#tiptip_content h3 { margin:0; padding:0; font-size:1.05em; }
#tiptip_content span { color:#aaa; }

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);

	border-top-color: rgba(20,20,20,0.92);		
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);

	border-bottom-color: rgba(45,45,45,0.88);		
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

.map_feature_control {
  margin: 5px;
}

.map_feature_control > div {
  color: #333;
  cursor:pointer;
  background-color: white;
  font-size: 13px;
  padding: 1px 6px;
  border: 1px solid #717B87;
  border-left: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.398438);
  float:left;
}

.map_feature_control > div:hover {
  color: black;
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #fff 100%);
}

.map_feature_control > div.enabled {
  color:black;
  font-weight:bold;
}

.map_feature_control > div:first-child {
  border-left: 1px solid #717B87;
}

#map-error {
  width: 100%;
  color: red;
  text-align: center;
  display: none;
  font-size: 20px;
  font-weight: bold;
  padding-top: 25px;
  float:left;
}