
body, html {
  font: normal 13px arial,sans-serif;
  margin-top: 0;
}
#hangout-bar {
  background-color: #444;
  height: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 3px 0 0 10px;
}
#hangout-bar-left {
  float: left;
}
#hangout-bar-right {
  float: right;
  padding-right: 10px;
}
#hangout-bar span {
  font-family: 'Droid Sans', sans-serif;
  color: #eee;
}
#hangout-bar a, #hangout-bar a:active, #hangout-bar a:visited, #hangout-bar a:link {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted #eee;
}
#hangout-container {
  width: 600px;
}
.hangout-item {
  background-color: #eee;
  border-radius: 5px;
  height: 50px;
  margin: 5px 0;
  clear: both;
  position: relative;
}
.hangout-item:hover {
  background-color: #ccc;
}
.hangout-overlay {
  position: absolute;
  right: 0px;
  width: 70px;
  height: 50px;
  text-align: right;
  padding-right: 10px;
  background-color: #ddd;
  border-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 0.75em;
  -webkit-transition: width 0.3s linear;
  cursor: pointer;
  overflow: hidden;
  z-index: 9999;
}
.hangout-overlay:hover {
  width: 500px;
  box-shadow: -5px 0px 10px rgba(0,0,0,0.2);
}
.full .hangout-overlay {
  background-color: #ca333a;
}
.hangout-extra {
  width: 450px;
  height: 50px;
  line-height: 50px;
}
.hangout-show {
  float: right;
  width: 70px;
  text-align: center;
  display: block;
  height: 50px;
  font-weight: bold;
  color: #777;
}
.full .hangout-show  {
  color: #eee;
}
.hangout-show-count {
  display: block;
  font-size: 30px;
  line-height: 35px;
}
.hangout-show-visibility {
  display: block;
  line-height: 10px;
}
.hangout-participants {
  float: left;
  margin-top: 7px;
  overflow: hidden;
  width: 80%;
  white-space: nowrap;
}
.hangout-participants a {
  display: block;
}
.hangout-participants img {
  border: 2px solid transparent;
  margin: 0px;
  border-radius: 2px;
}
.hangout-participants img:hover {
  box-shadow: 0 0 15px white; 
  background-color: white;
}
.hangout-participants ul {
  margin: 0;
  padding: 0;
}
.hangout-participants li {
  display: inline-block;
}
.hangout-button {
  float: left;
  margin-top: 10px;
}
.button {
  display: inline-block;
  cursor: pointer;
  line-height: 50px;
  margin: 0px 10px;
  border: 1px solid #3079ED;
  border-radius:3px;
  -webkit-border-radius:3px;
  color: white;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-right: 16px;
  height: 27px;
  line-height: 25px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  -webkit-box-shadow: 0px 0px 6px #dddcff;//bbbbff;
  box-shadow: 0px 0px 6px #dddcff;
}
.button:hover {
  background-image: -webkit-linear-gradient(top, #2d90fe, #2787ed);
}
.in_my_circle{
  position: relative;
  z-index: 5;
}
.in_my_circle span {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  top: 2px;
  left: 2px;
  background-color: #444;
  font-size: 8px;
  color: #eee;
  text-align: center;
  font-weight: bold;
  opacity: 0.75;
}

.hangout-participants .in_my_circle img {
  border: 2px solid #444;
}

.hangout-participants .in_my_circle img:hover {
  border: 2px solid transparent;
}

.hangout-participants .in_my_circle:hover span {
  opacity: 1;
  background-color: #fff;
  color: #444;
  
}
