
body, html {
  font: normal 13px arial,sans-serif;
}
#hangout-container {
  width: 600px;
}
.hangout-item {
  background-color: #eee;
  border-radius: 5px;
  height: 50px;
  margin: 5px 0;
  clear: both;
}
.hangout-item:hover {
  background-color: #ccc;
}
.hangout-user-overlay {
  position: absolute;
  right: 5px;
  width: 75px;
  text-align: right;
  padding-right: 10px;
  background-color: #ddd;
  border-radius: 15px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 0.75em;
  -webkit-transition: width 0.3s linear;
  cursor: pointer;
  overflow: hidden;
}
.hangout-button {
  float: left;
  margin-top: 10px;
}
.full .hangout-user-overlay {
  background-color: #ca333a;
}
.hangout-participants {
  float: left;
  margin-top: 7px;
}
.hangout-participants a {
  display: block;
}
.hangout-participants img {
  border: 2px solid transparent;
  margin: 0px;
  border-radius: 2px;
}
.hangout-participants img:hover {
  box-shadow: 0 0 15px white; 
  background-color: white;
}
.hangout-participants ul {
  margin: 0;
  padding: 0;
}
.hangout-participants li {
  display: inline-block;
}
.hangout-count {
  display: inline;
}
.hangout-count::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  top: 16px;
  left: -50px;
  bottom: auto;
  border-width: 10px 50px 10px 0;
  border-color: transparent #000;
}
.hangout-time {
  font-size: 0.75em;
  color: #333;
  margin-left: 5px;
}
.button {
  display: inline-block;
  cursor: pointer;
  line-height: 50px;
  margin: 0px 10px;
  border: 1px solid #3079ED;
  border-radius:3px;
  -webkit-border-radius:3px;
  color: white;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-right: 16px;
  height: 27px;
  line-height: 25px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  -webkit-box-shadow: 0px 0px 6px #dddcff;//bbbbff;
  box-shadow: 0px 0px 6px #dddcff;
}
.button:hover {
  background-image: -webkit-linear-gradient(top, #2d90fe, #2787ed);
}