<!DOCTYPE html> 
<html>
<head>
  <title>My Hangouts Circle Notifier</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/notification.css" />
  <script type="text/javascript" src="/js/libs/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="/js/modules/circle_notifier/notification_controller.js"></script>
</head>
<body>
  <div id="notification-container">
    <h1>Important Hangout</h1>
    <div id="hangouts-container"></div>
  </div>
  <script type="text/x-jquery-tmpl" id="hangouts-template">
    {{each(i, hangout) hangouts}}
    <div class="hangout-item{{if hangout.isFull}} full{{/if}}">
      <div class="hangout-overlay">
        <div class="hangout-show">
          <span class="hangout-show-count">{{if hangout.isFull}}FULL{{else}}${hangout.totalParticipants}{{/if}}</span>
          <span class="hangout-show-visibility">{{if hangout.is_public}}public{{else}}limited{{/if}}</span>
        </div>
        <div class="hangout-extra">
          <a href="${hangout.url}" class="clickable"><img src="/img/link.png" alt="Original post"/></a>
        </div>
      </div>
      <div class="hangout-button"><a class="button clickable" href="${hangout.data.url}">Join</a></div>
      <div class="hangout-participants">
        <div class="hangout-name">${hangout.data.name}</div>
        <ul>
        <li{{if hangout.owner.circles}} class="in_my_circle"{{/if}}><a href="https://plus.google.com/${hangout.owner.id}/about" class="clickable"><img src="${hangout.owner.image}?sz=48" title="${hangout.owner.name}" /></a>{{if hangout.owner.circles}}<span title="Circles: ${hangout.owner.circles}">${hangout.owner.circles.length}</span>{{/if}}</li>
        {{each(i, participant) hangout.data.participants}}
          {{if participant.status}}
          <li{{if participant.circles}} class="in_my_circle"{{/if}}><a href="https://plus.google.com/${participant.id}/about" class="clickable"><img src="${participant.image}?sz=32" title="${participant.name}" /></a>{{if participant.circles}}<span title="Circles: ${participant.circles}">${participant.circles.length}</span>{{/if}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
  </script>
  <script type="text/javascript">
    var controller = new NotificationController();
    controller.init();
  </script>
</body>
</html>
