<!DOCTYPE html> 
<html>
<head>
  <title>My Hangouts World</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/chosen.css" />
  <link rel="stylesheet" href="/css/popup.css" />
  <link rel="stylesheet" href="/css/tool_tip.css" />
  <script src="/js/libs/jquery-1.7.1.min.js"></script>
  <script src="/js/libs/jquery.tmpl.min.js"></script>
  <script src="/js/libs/jquery.timeago.js"></script>
  <script src="/js/libs/chosen.jquery.min.js"></script>
  <script src="/js/libs/jquery.tipTip.minified.js"></script>
  <script src="/js/modules/maps/map_api.js"></script>
  <script src="/js/modules/maps/map_controller.js"></script>
  <script src="/js/modules/options/options_controller.js"></script>
  <script src="/js/popup_controller.js"></script>
</head>
<body>
  <div id="hangout-bar">
    <div id="hangout-bar-left">
      <img src="/img/hangout-extras-white.png"/>
      <span class="menu-item tip" id="menu-extensionpage" title="Visit My Hangouts Website">+My Hangouts</span>
      <span id="version"></span>
    </div>
    <div id="hangout-bar-right">
      <span class="menu-item tip selected" id="menu-hangouts" title="All the current hangouts.">Hangouts</span>
      <span class="menu-item tip" id="menu-notifications" title="Current hangouts that were notified <br /> from the circles you setup in options.">Notifications</span>
      <span class="menu-item tip" id="menu-gallery" title="Gallery where you will <br /> find your captured moments.">Gallery</span>
      <span class="menu-item tip" id="menu-maps" title="Map view based on a person's location.">Map</span>
      <span class="menu-item tip" id="menu-options" title="Customize My Hangouts <br /> The settings screen!">&nbsp;</span>
    </div>
  </div>
  <div id="popup-container">
    <div id="hangouts-container" class="popup-page"></div>
    <div id="notifications-container" class="popup-page"></div>
    <div id="hangout-detail-container" class="popup-page"></div>
    <div id="maps-container" class="popup-page">
      <h2>Hangouts Around the World <span id="popup-subtitle">Click each image to see which hangout they are in!</span><span id="popup-open" title="Open map in new window."></span><span id="date"></span></h2>
      <div id="map-error">Google has disabled this feature for the extension without giving any reasons. Check back soon.</div>
      <div id="map-canvas"></div>
		</div>    
    <div id="options-container" class="popup-page">
      <h2>Notification preferences</h2>
      <p><label for="option-circles-notify"><input id="option-circles-notify" type="checkbox" /> Notify me when a user in my circles below entered a hangout.</label></p>
      <select id="option-circles" data-placeholder="Choose your Circles..." multiple style="width: 580px;"></select>
      <p><label for="option-auto-close-notify"><input id="option-auto-close-notify" type="checkbox" /> Automatically close notification after 10 seconds.</label></p>
      <h2>Hangout preferences</h2>
      <p><label for="option-hangout-window"><input id="option-hangout-window" type="checkbox" />Opens the hangout as a new window instead of in a new tab.</label></p>
      <p><label for="option-show-circle-hangouts"><input id="option-show-circle-hangouts" type="checkbox" />Only show hangouts that have people in your circles.</label></p>
      <p><label for="option-show-circle-hangouts">
        Default tab to view when popup first opens: 
        <select id="option-default-popup-tab" data-placeholder="Choose a tab" tabindex="1">
          <option value="hangouts">Hangouts</option>
          <option value="notifications">Notifications</option>
          <option value="maps">Map</option>
          <option value="options">Options</option>
        </select>
      </p>
      <!--
      <h2>Capture moment preferences</h2>
      <p><label for="option-moment-quick"><input id="option-moment-quick" type="checkbox" />Quick captures, skip the dialog.</label></p>
      -->
    </div>
  </div>
  <div id="tiptip_holder">
    <div id="tiptip_arrow"><div id="tiptip_arrow_inner"></div></div>
    <div id="tiptip_content"></div>
  </div>
  <script type="text/x-jquery-tmpl" id="hangout-detail-template">
    <div>
      <div class="detail-card-header">
        ${hangout.name} <a class="button clickable" href="${hangout.url}">Join Hangout</a>
      </div>
      <ul>
      {{each(i, participant) hangout.participants}}
        {{if participant.status}}
        <li{{if participant.circles}} class="in_my_circle"{{/if}}>
          <div class="participant-card-image">
            <a href="https://plus.google.com/${participant.id}/about" class="clickable">
              <img src="${participant.image}?sz=64" title="${participant.name}" class="tip" />
            </a>
            {{if participant.circles}}<span title="Circles: ${participant.circles}" class="tip">${participant.circles.length}</span>{{/if}}
          </div>
          <div class="participant-card-detail">
            <strong>Name: </strong> ${participant.name} <br/>
            {{if participant.location}}
            <strong>Location: </strong> ${participant.location}<br/>
            {{/if}}
            {{if participant.occupation}}
            <strong>Occupation: </strong> ${participant.occupation}
            {{/if}}
          </div>
        </li>
        {{/if}}
      {{/each}}
      </ul>
    </div>
  </script>
  <script type="text/x-jquery-tmpl" id="hangouts-popup-template">
    <div>
      <div class="hangout-popup">
        <div class="hangout-popup-name">${hangout.data.name}</div>
        <div class="hangout-popup-header">
          <div class="hangout-popup-owner{{if hangout.owner.circles}} in_my_circle{{/if}}"><a href="https://plus.google.com/${hangout.owner.id}/about" class="clickable"><img src="${hangout.owner.image}?sz=40" title="${hangout.owner.name}" class="tip" /></a>{{if hangout.owner.circles}}<span title="Circles: ${hangout.owner.circles}" class="tip">${hangout.owner.circles.length}</span>{{/if}}</div>
          <div class="hangout-popup-button"><a class="button minified-button clickable" href="${hangout.data.url}">Join</a></div>
        </div>
        <div class="hangout-participants">
          <ul>
          {{each(i, participant) hangout.data.participants}}
            {{if participant.status}}
            <li{{if participant.circles}} class="in_my_circle"{{/if}}><a href="https://plus.google.com/${participant.id}/about" class="clickable"><img src="${participant.image}?sz=20" title="${participant.name}" class="tip" /></a>{{if participant.circles}}<span title="Circles: ${participant.circles}" class="tip">${participant.circles.length}</span>{{/if}}</li>
            {{/if}}
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </script>
  <script type="text/x-jquery-tmpl" id="hangouts-template">
    {{each(i, hangout) hangouts}}
    <div class="hangout-item{{if hangout.isFull}} full{{/if}}" id="${hangout.data.id}">
      <div class="hangout-overlay">
        <div class="hangout-show">
          <span class="hangout-show-count">{{if hangout.isFull}}FULL{{else}}${hangout.totalParticipants}{{/if}}</span>
          <span class="hangout-show-visibility">
          {{if hangout.data.is_onair}}On Air{{else}}{{if hangout.is_public}}public{{else}}limited{{/if}}{{/if}}
          </span>
        </div>
        <div class="hangout-extra">
          <span class="info">Posted ${hangout.timeago} | ${hangout.data.participants.length} users joined!</span>
          <span class="detail"><img src="/img/detail.png" title="View detail post" class="tip"/></span>
          <span class="link"><a href="${hangout.url}" class="clickable"><img src="/img/link.png" title="Link to original post" class="tip"/></a></span>
        </div>
      </div>
      <div class="hangout-button"><a class="button clickable" href="${hangout.data.url}">Join</a></div>
      <div class="hangout-participants">
        <div class="hangout-name">${hangout.data.name}</div>
        <ul>
        <li class="hangout_owner {{if hangout.owner.circles}} in_my_circle {{if hangout.owner.blocked}}blocked_circle{{/if}}"{{/if}}>
          <a href="https://plus.google.com/${hangout.owner.id}/about" class="clickable">
            <img src="${hangout.owner.image}?sz=48" title='<h3>${hangout.owner.name}</h3>{{if hangout.owner.circles}}<span>Circles:</span> {{if hangout.owner.blocked}}You blocked this person!{{else}}${hangout.owner.circles}{{/if}}{{/if}}' class="tip" />
          </a>{{if hangout.owner.circles}}<span>{{if hangout.owner.blocked}}B{{else}}${hangout.owner.circles.length}{{/if}}</span>{{/if}}
        </li>
        {{each(i, participant) hangout.data.participants}}
          {{if participant.status}}
          <li class="hangout_participant {{if participant.circles}} in_my_circle {{if participant.blocked}}blocked_circle{{/if}}"{{/if}}>
            <a href="https://plus.google.com/${participant.id}/about" class="clickable">
              <img src="${participant.image}?sz=32" title='<h3>${participant.name}</h3>{{if participant.circles}}<span>Circles:</span> {{if participant.blocked}}You blocked this person!{{else}}${participant.circles}{{/if}}{{/if}}' class="tip" />
            </a>
            {{if participant.circles}}<span>{{if participant.blocked}}B{{else}}${participant.circles.length}{{/if}}</span>{{/if}}
          </li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}
  </script>
  <script>
    var popupController = new PopupController();
    popupController.init();
  </script>
</body>
</html>
