<!DOCTYPE html> 
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/popup.css" />
  <script type="text/javascript" src="/js/libs/jquery-1.6.3.min.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.timeago.js"></script>  
  <script type="text/javascript" src="/js/popup_controller.js"></script>
</head>
<body>
  <div id="hangout-container"></div>
  <script type="text/x-jquery-tmpl" id="hangout-item-template">
    <div class="hangout-item{{if isFull}} full{{/if}}">
      <div class="hangout-user-overlay">
        <div class="hangout-participants">
          {{each(i, participant) data.participants}}
            {{if participant.status}}
            <a href="https://plus.google.com/${id}/about"><img src="${participant.image}?sz=32" title="${participant.name}" /></a>
            {{/if}}
          {{/each}}
        </div>
        <div><span>${activeCount}</span> participants</div>
      </div>
      <a class="button" href="http://plus.google.com/hangouts/{{if data.extra}}extras/{{/if}}${data.id}">Join</a>
      <span class="hangout-title">${owner.name}</span>
    </div>
  </script>
  <script type="text/javascript">
    var popupController = new PopupController();
    popupController.init();
  </script>
</body>
</html>
